@using Webdiyer.WebControls.Mvc
@model PagedList<ConfigCenter.Dto.AppDto>
<script type="text/javascript">
    var platform = '';
    $(function () {
        $("table a[class='btn btn-info']").click(function () {
            edit($(this).attr('data-id'));
        });

        $("table a[class='btn btn-danger']").click(function () {
            del($(this).attr('data-id'));
        });

        $('#newplatform').click(function () {
            $('div.modal-body').html('');
            $('#add_tmpl').tmpl().appendTo('div.modal-body');
            $('#myModalLabel').text('添加');
        });
    });

    function edit(id) {
        $.getJSON('/App/GetAppByid?id=' + id, function (data) {
            $('div.modal-body').html('');
            $('#edit_tmpl').tmpl(data).appendTo('div.modal-body');
            $('#myModalLabel').text('修改');
        });
    }

    function del(id) {
        if (confirm("确定删除吗?")) {
            $.getJSON('/App/DeleteAppByid?id=' + id, function (data) {
                if (data.Success) {
                    window.location.reload();
                }
            });
        }
    }
    function save() {
        var data = $('#edit_form').serialize() || $('#form_add').serialize();
        $.post('/App/SaveApp', data, function (res) {
            if (res.Success) {
                window.location.reload();
            }
        });
    };
</script>

<ol class="breadcrumb">
    <li><a href="/">配置中心</a></li>
    <li class="active">应用列表( <a id="newplatform" data-toggle="modal" data-target="#myModal">添加新应用</a>)</li>
</ol>
@using (Html.BeginForm("Index", ViewContext.RouteData.GetRequiredString("Controller"), new RouteValueDictionary { { "pageindex", "" } }, FormMethod.Get))
{
    <div class="form-inline well well-sm">
        <span>Appid  </span><input type="text" name="kword" value="@Request.QueryString["kword"]" style="width: 120px" class="form-control" />
        <input type="submit" value="搜索(S)" accesskey="S" class="btn btn-default" />
    </div>
}

@Html.Partial("_AppTable", Model)
@Html.Pager(Model, new PagerOptions { HorizontalAlign = "right", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "bootstrappager" })

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="add_tmpl">
    <form id="form_add" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">应用名称</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="AppId" value="" placeholder="应用名称">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" onclick="save();">添加</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-jquery-tmpl" id="edit_tmpl">
    <form id="edit_form" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">应用名称</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="AppId" value="${AppId}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">应用版本号</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="Version" value="${Version}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" onclick="save();">提交</button>
                <input type="hidden" name="id" value="${Id}" />
            </div>
        </div>
    </form>
</script>